.hbox-style {
    -fx-spacing: 10;
	-fx-alignment : center-left;
	-fx-min-height : 30;
	-fx-pref-height : 30;
}

.label-style {
	-fx-pref-width : 120;
	-fx-min-width : 120;
}

#btnSaveAs {
    -fx-alignment: right;
}

.separator-style {
    -fx-padding: 10 0;
}

.table-view .column-header,
.table-view .column-header .filler {
    -fx-font-weight: normal;
}

.read-only-text-style {
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.read-only-text-style .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.read-only-text-style:focused .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.frame {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1;
}